.jumbotron {
    color: white;
    font-family: fantasy;
    text-align: center;
    background: rgb(200, 54, 54);
    /* This is for ie8 and below */
    background: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: cursive
}

h5{
    text-align: center;
    font-family: monospace;
}
#gallery {
    background-image: ".../bootstrap/shabr/img/balloon-2.jpg";
    text-align: center;
    font-family: monospace;
    color: black;
    color: gray;
}



/*small*/

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 10px;
    }
    h2 {
        font-size: 70px;
    }
    .nav {
        size: 100%;
    }
}


/*medium*/

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
    }

    
    /*medium*/
    @media only screen and (min-width: 992px) {
        h1{ 
            font-size: 70px;
            }
        h2{
            font-size: 50px;
        }
}


